<style>

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(81, 72, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#all
{
    background-color: aqua;
    width: 45vw;
    height: 95vh;
    margin-top: 1.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#img
{
    height: 40%;
    width: 250px;
    background-color: white;
}

form
{
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form div
{
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

label
{
    color: black;
    font-family: sans-serif;
    font-size: max(1.5vw, 20px);
}


textarea
{
    width: 100%;
    height: 70%;
    font-family: sans-serif;
    font-size: max(1.3vw, 17px);
    resize: none;
}

#id_do_comentário
{
    display: none;
}

#nome_do_usuario
{
    display: none;
}

#sobrenome_do_usuario
{
    display: none;
}

#id_do_usuario
{
    display: none;
}

#send
{
    width: 70%;
    height: 14%;
    border-radius: 50px;
    margin: auto;
    font-size: max(1.3vw, 17px);
}




@media(max-width: 800px)
{
    #all
    {
        width: 80%;
        height: 100vh;
        margin-top: 0;
    }

    #img
    {
        width: auto;
    }
}

@media(max-width: 500px)
{
    #all
    {
        width: 100%;
        height: 100vh;
    }
}
</style>




<div id="all">
    <img id="img" src="" alt="">
    <form action="/form" method="POST" id="comment_form">
        <div>
            <label for="body">Seu comentário:</label>
            <textarea name="body" id="body" placeholder="Digite sua mensagem" required></textarea>
            <input id="id_do_comentário" name="id_do_comentário" readonly></input>
            <input id="nome_do_usuario" name="nome_do_usuario" readonly></input>
            <input id="sobrenome_do_usuario" name="sobrenome_do_usuario" readonly></input>
            <input id="id_do_usuario" name="id_do_usuario" readonly></input>
        </div>
        <input id="send" onclick="redirecionar()" type="submit" value="Enviar">
    </form>
</div>






<script>
    const urlParams = new URLSearchParams(window.location.search);
    const ids = urlParams.get('id_image');
    const id_usuario = urlParams.get('id_usuario');
    const nome_usuario = urlParams.get('nome_usuario');
    const sobrenome_usuario = urlParams.get('sobrenome_usuario');

    const id_do_comentário = document.getElementById('id_do_comentário')
    const nome_do_usuario = document.getElementById('nome_do_usuario')
    const sobrenome_do_usuario = document.getElementById('sobrenome_do_usuario')
    const id_do_usuario = document.getElementById('id_do_usuario')
    
    id_do_comentário.value = ids
    nome_do_usuario.value = nome_usuario
    sobrenome_do_usuario.value = sobrenome_usuario
    id_do_usuario.value = id_usuario

    const img = document.getElementById('img');
    fetch('https://api-interdisciplinar-nvn0.onrender.com/bd')
    .then(res=>res.json())
    .then((json) =>
    {
        img.setAttribute('src', `${json[ids].image}`)
    })

    {{!-- img.setAttribute('src', '') --}}

    function redirecionar()
    {
        setTimeout((() =>
        {
            {{!-- COLOCAR O LINK DA HOME DEPOIS --}}
            window.location = 'http://selectedteste1.rf.gd/pagina_dos_remedios/'
        }), 150)
    }

</script>
